<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card p-4" style="width: 360px;">

    {{#if message}}
    <div class="alert alert-danger text-center">
      {{message}}
    </div>
    {{/if}}

    <form>
      Something here 
    </form>

  </div>
</div>