<form action="/addComment" method="POST">
    <label for="comment">Comment</label><br>
    <input type="text" id="comment" name="comment" required>

    <button type="submit" class="btn btn-primary w-100">Add Comment</button>
</form>